載入模組

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn.preprocessing  import LabelEncoder #01轉換
from sklearn import preprocessing #標準化
from sklearn.model_selection import train_test_split #切分 

import statsmodels.api as sm 
# from sklearn.linear_model import LinearRegression #sk線性回歸
# from yellowbrick.regressor import ResidualsPlot #殘插圖

# from sklearn.metrics import mean_squared_error #mse
# from statsmodels.stats.outliers_influence import variance_inflation_factor #VIF

載入資料\資料前處理

In [15]:
data = pd.read_csv('CrabAgePrediction.csv') #原資料
df = data.drop(data[data['Sex']=='I'].index) #去I資料
labelencoder = LabelEncoder()
df['Sex'] = labelencoder.fit_transform(df['Sex']) #01轉換
# df.head(5)
# df.describe().style.format('{:2.4f}')
X = df.iloc[:,0:6]
Y = df['Age']

切分資料 9:1

In [16]:
df_train, df_test = train_test_split(df, random_state = True, train_size=0.9)
print(len(df_train))

2394

刪除3*IQR離群值

In [17]:
j = []
IQR = df_train.quantile(0.75)-df_train.quantile(0.25)
extreme_outlier = (df_train[(df_train > df_train.quantile(0.75)+3*IQR)|(df_train < df_train.quantile(0.25)-3*IQR)])

for i in extreme_outlier.iloc[:,1:9]:
    j.extend((extreme_outlier[i].dropna()).index)
del_list = set(j)
df_train = df_train.drop(del_list)
print(len(df_train))
df_train.describe().style.format('{:2.4f}')

2364

對X標準化

In [18]:
zscore = preprocessing.StandardScaler()
df_train.iloc[:,1:8] = zscore.fit_transform(df_train.iloc[:,1:8])
df_train.head(5)
df_train.describe().style.format('{:2.4f}')

In [19]:
df_train.to_csv('訓練集.csv')
df_test.to_csv('測試集.csv')

## 後處理

逐步回歸

In [21]:
X_add = pd.DataFrame()
X_del = pd.DataFrame()
TP = pd.DataFrame(columns=['name','tvalue','pvalue'])
TP_del = pd.DataFrame(columns=['name','tvalue','pvalue'])

In [22]:
Step = 0
b = True
while b:
    Step += 1
    print('\nStep:',Step)
    a = True
    TP.drop(TP.index,inplace=True)
    TP_del.drop(TP_del.index,inplace=True)
    # 加入項
    for i in X.columns:
        if X_add.empty == True:
            x = X[i]
        else:
            x = X_add.join(X[i])
        x = sm.add_constant(x)
        y = Y
        model = sm.OLS(y, x).fit()
        # print(model.summary())
        TP_new = pd.DataFrame([[i, abs(model.tvalues[i]), abs(model.pvalues[i])]]
                                ,columns=['name','tvalue','pvalue'])
        TP = pd.concat([TP,TP_new], ignore_index=True)
    
    while a:
        if TP.size == 0:
            b = False
            a = False
        else:
            tp = TP[TP['tvalue'] == max(TP['tvalue'].values)]
            if (tp['pvalue'].values < 0.1):
                X_add[tp['name']] = X[tp['name']]
                X = X.drop(columns = (tp['name']))
                TP = TP.drop(TP[TP['name'].values == tp['name'].values].index)
                a = False
            else:
                TP = TP.drop(TP[TP['name'].values == tp['name'].values].index)
        print('剩餘項個數',TP.size/3)
    print('剩餘項\n',TP)       

    # 刪除項 
    for j in X_add.columns:
        x = X_add
        x = sm.add_constant(x)
        y = Y
        model = sm.OLS(y, x).fit()
        # print(model.summary())
        TP_del_new = pd.DataFrame([[j,abs(model.tvalues[j]), abs(model.pvalues[j])]]
                                    ,columns=['name','tvalue','pvalue']
                                    ,index = [j])
        TP_del = pd.concat([TP_del,TP_del_new])

        if (TP_del.loc[j,'pvalue'] > 0.15):
            print('刪除\n',TP_del.loc[j])
            X[j] = X_add[j]
            X_add = X_add.drop(columns = j)
            TP_del = TP_del.drop(j)
# print(model.summary())
    print('\n保留項\n',TP_del,'\n-----------------------')

Step: 1
剩餘項個數 5.0
剩餘項
              name     tvalue    pvalue
0             Sex   3.505651  0.000463
1          Length  16.637617       0.0
3          Height  17.765449       0.0
4          Weight  17.671202       0.0
5  Shucked Weight   8.597004       0.0

保留項
               name     tvalue pvalue
Diameter  Diameter  18.387762    0.0
-----------------------

Step: 2
剩餘項個數 4.0
剩餘項
      name    tvalue    pvalue
0     Sex  1.940476  0.052428
1  Length  5.589309       0.0
2  Height  6.966383       0.0
3  Weight  2.207932  0.027334

保留項
                           name     tvalue pvalue
Diameter              Diameter  22.588671    0.0
Shucked Weight  Shucked Weight  15.197221    0.0
-----------------------

Step: 3
剩餘項個數 3.0
剩餘項
      name    tvalue    pvalue
0     Sex  0.371175  0.710537
1  Length   0.98915   0.32268
2  Height  9.229918       0.0

保留項
                           name     tvalue pvalue
Diameter              Diameter   5.491791    0.0
Shucked Weight  Shucked Weight  31.735568    0.0
Weight                  Weight  26.839909    0.0
-----------------------

Step: 4
剩餘項個數 2.0
剩餘項
      name    tvalue    pvalue
0     Sex  0.294422  0.768458
1  Length  3.371555  0.000758

保留項
                           name     tvalue    pvalue
Diameter              Diameter   4.645772  0.000004
Shucked Weight  Shucked Weight  31.176854       0.0
Weight                  Weight  25.254238       0.0
Height                  Height   4.279653  0.000019
-----------------------

Step: 5
剩餘項個數 1.0
剩餘項
   name    tvalue    pvalue
0  Sex  0.447425  0.654605

保留項
                           name     tvalue    pvalue
Diameter              Diameter   5.272781       0.0
Shucked Weight  Shucked Weight  30.500279       0.0
Weight                  Weight  25.493016       0.0
Height                  Height   4.255076  0.000022
Length                  Length   3.340775  0.000847
-----------------------

Step: 6
剩餘項個數 0.0
剩餘項個數 0.0
剩餘項
 Empty DataFrame
Columns: [name, tvalue, pvalue]
Index: []

保留項
                           name     tvalue    pvalue
Diameter              Diameter   5.272781       0.0
Shucked Weight  Shucked Weight  30.500279       0.0
Weight                  Weight  25.493016       0.0
Height                  Height   4.255076  0.000022
Length                  Length   3.340775  0.000847
-----------------------

殘差

In [25]:
# visualizer = ResidualsPlot(LinearRegression(), hist = False, qqplot = True)
# visualizer.fit(X_add,Y)
# visualizer.poof()

VIF

In [29]:
# vif = pd.DataFrame()
# vif['variable'] = df.iloc[:,1:9].columns
# vif["VIF"] = [variance_inflation_factor(df.iloc[:,1:9], i) for i in range(len(df.iloc[:,1:9].columns))]
# vif